# SPDX-FileCopyrightText: 2025 Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only

name: Build Development Image
on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:
permissions:
  contents: read
  packages: write
jobs:
  nextcloud:
    name: Get Version Information
    runs-on: ubuntu-latest
    outputs:
      digest: ${{ steps.digest.outputs.digest }}
      tag: ${{ steps.version.outputs.tag }}
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Get Latest Nextcloud Version
        id: version
        uses: joepitt91/action-version-from-dockerhub@v2
        with:
          dockerhub_username: ${{ secrets.DOCKER_USER }}
          dockerhub_token: ${{ secrets.DOCKER_PASSWORD }}
          repository: nextcloud

      - name: Get Current Digest for Identified Version
        id: digest
        uses: joepitt91/action-digest-from-dockerhub-image@v1
        with:
          dockerhub_username: ${{ secrets.DOCKER_USER }}
          dockerhub_token: ${{ secrets.DOCKER_PASSWORD }}
          repository: nextcloud
          tag: ${{ steps.version.outputs.tag }}

  build:
    name: Build Image
    runs-on: ubuntu-latest
    needs:
      - nextcloud
    steps:
      - name: Image Information
        run: echo "Building image of Nextcloud ${{ needs.nextcloud.outputs.version }} from image with digest ${{ needs.nextcloud.outputs.digest }}"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          build-args: |
            NEXTCLOUD_VERSION=${{ needs.nextcloud.outputs.tag }}
          provenance: true
          pull: true
          push: true
          sbom: true
          tags: |
            ghcr.io/joepitt91/nextcloud-dev:${{ github.event_name }}_${{ github.sha }}